* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.spotify-logo {
    max-width: 150px;
    margin-left: 10px;
}
.music-icon,
.hd-icon,
.devices-icon {
    max-width: 100px;
}
.list {
    display: flex;
    list-style:none;
}
a {
    color: rgba(0, 0, 0, 0.534);
    text-decoration: none;
    margin-right: 10px;
    font-size: 16px;
    margin-left: 20px;
}
.music-4ev {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.back-ground {
    background-image:linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.5)), url("../images/landing.jpg");
    background-size: cover;
    height: 40em;
    width: 90em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title,
.text {
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
}
.whats-on {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.whats-on > h2 {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: #00B172;
}

.infos{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 500px;
}
.music,
.hd,
.devices{
    text-align: center;
}
.music > h3,
.hd > h3,
.devices > h3 {
    margin-top: 10%;
    color: #00B172;
    font-size: 20px;
}
.music > p,
.hd > p,
.devices > p {
    color: rgba(0, 0, 0, 0.534);
    font-size: 20px; 
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 10%;
}
.app{
    height: 40em;
    width: 90em;
}
.back-ground-2{
    background-image: url("../images/spotify-icon-white.png");
    background-color: #00B172;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    height: 40em;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.app-icon {
    max-height: 500px;
    margin-right: 10%;
    
}
.app-text > h2{
    text-decoration: underline;
    text-decoration-;
}
.app-text > h2,
.app-text > h3,
.app-text > p{
    margin-bottom: 8%;
    margin-right: 50%;
    color: #fff;
}
.app
/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
